<ol class="breadcrumb">
  <li><%= link_to "Home", admin_panel_index_path %></option>
  <li>Cadastro do nutricionista</option>
  <li class="active"></option>
</ol>
<h2>Cadastro do nutricionista</h2>

<%= render "shared/nutritionist_form" %>