<h2>Dados do paciente</h2>

<%= render @patient %>

<% if @patient.anamnesis %>
  <%= render @patient.anamnesis  %>
<% else %>
  <div class="panel panel-warning">
    <div class="panel-heading"><strong>Atenção</strong></div>
    <div class="panel-body">
      <p>Este paciente ainda não possui anamnese cadastrada. Deseja cadastrar agora? <%= link_to "Sim", new_patient_anamnese_path(patient_id: @patient.id) %> </p>
    </div>
  </div>
<% end %>
