@import "bootstrap-sprockets";
@import "bootstrap";

html, body
{
  font-family: verdana;
}

#title
{
  text-align: center;
  font-size: 24px;
  color: #999;
}

.img-logotipo
{
padding-top: 10px;
  width: 40%;
  height: 40%;
  opacity: 0.4;
}

.text-logotipo
{
  font-family: verdana;
  font-size:18px;
  font-weight: normal;
  color: #2349c4;
}

.acesso_menu
{
  font-family: verdana;
  position: absolute;
  right: 15px;
  font-size: small;
}
